DATABASE_URL=******localhost:5432/shakar_db
SECRET_KEY=your-very-secret-key-change-in-production
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=30
REFRESH_TOKEN_EXPIRE_DAYS=7
PROJECT_NAME=فروشگاه شاکار
API_V1_STR=/api/v1
BACKEND_CORS_ORIGINS=["http://localhost:3000","http://localhost:8000"]
FIRST_SUPERUSER_EMAIL=admin@shakar.ir
FIRST_SUPERUSER_PASSWORD=Admin@123456
